<launch>

    <param name = "robot_description" command="$(find xacro)/xacro.py '$(find mobile_robot_description)/urdf/mobile_robot.xacro'"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mobile_robot_description)/worlds/maze_runner.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model mobile_robot -z 0.1 -x 1.015 -y -7.28 -Y 1.57"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher"
            type="robot_state_publisher"/>
    <node name="imu2heading" pkg="mobile_robot_description" type="imu2heading.py"/>
</launch>
