<launch>
  <include file="$(find mobile_robot_description)/launch/idmap.launch"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mobile_robot_description)/maps/my_map.yaml"/>
  <include file="$(find amcl)/examples/amcl_omni.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
output="screen">
<rosparam file="$(find mobile_robot_description)/params/costmap_common_params.yaml"
command="load" ns="global_costmap" />
<rosparam file="$(find mobile_robot_description)/params/costmap_common_params.yaml"
command="load" ns="local_costmap" />
<rosparam file="$(find mobile_robot_description)/params/local_costmap_params.yaml"
command="load" />
<rosparam file="$(find mobile_robot_description)/params/global_costmap_params.yaml"
command="load" />
<rosparam file="$(find mobile_robot_description)/params/base_local_planner_params.yaml"
command="load" />
</node>
</launch>
